<h1>Devs list</h1>
<ul>
    <% @devs.each do |dev| %>
    <div class ="homepage-devs">
    <li><%= link_to dev.name, dev_path(dev) %></li>
    </div>
    <% end %>
</ul>

<h2><%= link_to "Hire a Dev", new_dev_path %></h2>