// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 15px;
    background-color: lightgray;
    font-weight: 300;
  }